@font-face {
  font-family: "javanese";
  src: url("/font/javatext.ttf"); }
/*test css*/
#page-header .navbar-sm a:hover:after, #page-header .navbar-sm a.active .triangle {
  content: "";
  position: absolute;
  top: 105px;
  margin-left: 30px;
  width: 0px;
  height: 0px;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid white; }
@media (max-width: 991px) {
  #page-header .navbar-sm a:hover:after, #page-header .navbar-sm a.active .triangle {
    top: 66px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid white;
    margin-left: 20px; } }

  /*  div>a{
        height: 100px;
    
    
} div>a:hover:before, div>a:active{
    content:"";
    display:block;
    width:0px;
    border:10px solid white;
    border-color:  transparent  transparent white transparent;
    position:absolute;
    top:230%;
   left :50%;
    margin-left:-10px;
}
    
    
    
    
}*/
/*test css finish*/
body {
  font-family: Calibri;
  text-transform: uppercase; }

.pad-left-0 {
  padding-left: 0px; }

.pad-top-60 {
  padding-top: 60px; }

.pad-top-30 {
  padding-top: 30px; }

.pad-top-20 {
  padding-top: 20px; }

@media (max-width: 991px) {
  .pad-top-sm-60 {
    padding-top: 60px; }

  .pad-top-sm-30 {
    padding-top: 30px; } }
#page-header {
  height: 460px;
  background-image: url(../image/img1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* for small device navbar css*/
  /*  
     .navbar-sm div a:hover:after,.navbar-sm div :active{
         content:'';
display:block;
position:absolute;
top:62px; 
left:90px;
width:0;
height:0;
border-color: transparent transparent white transparent; 
border-style: solid;
border-width: 10px;


    }*/
  /*nav bar test*/
  /*nav bar test finish*/ }
  #page-header #text {
    padding-top: 60px;
    text-align: center;
    color: white; }
    #page-header #text strong {
      font-weight: 300; }
    #page-header #text h1 {
      font-size: 90px;
      margin-bottom: 0px;
      font-family: javanese; }
    #page-header #text h2 {
      padding-top: 1px;
      margin-top: 0px;
      font-family: Calibri; }
  #page-header .format-nav a {
    color: white;
    margin-top: 0px;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    content: "";
    display: block;
    width: 0px;
    border-color: transparent  transparent white transparent;
    position: absolute; }
  #page-header .line {
    margin-top: 70px;
    margin-bottom: 60px;
    opacity: 0.5; }
  #page-header .navbar-toggle {
    float: left; }
  #page-header .navbar {
    background-color: transparent;
    background: transparent;
    border-color: transparent; }
  #page-header .navbar-default .navbar-toggle:hover {
    background-color: white; }
  #page-header .navbar-default .navbar-toggle {
    border-color: white;
    /* background-color: white;*/ }
  #page-header .navbar-default .navbar-nav > .active > a,
  #page-header .navbar-nav > li > a {
    color: white;
    background-color: transparent;
    text-align: center; }
  #page-header .navbar-sm {
    text-align: center; }
    #page-header .navbar-sm .row {
      padding-left: 100px; }
  #page-header .test {
    /* Micro Clearfix */
    padding-left: 30px; }
    #page-header .test .cf:before,
    #page-header .test .cf:after {
      content: " ";
      display: table; }
    #page-header .test .cf:after {
      clear: both; }
    #page-header .test nav {
      /*
      li:first-child a {
        
      }
      
      li a:after {
        content: '';
        display: none;
        width: 0;
        height: 0;
        border-bottom: 10px solid white;
        border-right: 10px solid transparent;
        border-left: 10px solid transparent;
        position: absolute;
        z-index: 1;
        top: 100%;
        left: 50%;
        margin-left: -6px;
            margin-top:12px;
      }
      
      li:hover a {
        
        color: white;
        position: relative;
      }
      
      li:hover a:after {
        display: block;
      }*/ }
      #page-header .test nav ul {
        margin: 0;
        padding: 0;
        list-style: none;
        float: left;
        left: 20%;
        list-style: none; }
      #page-header .test nav li {
        float: left;
        padding: 0px 60px; }
      #page-header .test nav li a {
        display: block;
        font-size: 30px;
        color: white;
        text-decoration: none; }
      @media (max-width: 991px) {
        #page-header .test nav li a {
          font-size: 20px; }
        #page-header .test nav li {
          padding: 0px 30px; } }

.round {
  border-radius: 15px;
  border: 1px white solid;
  /* padding: 5px 5px 5px 25px; */
  margin-top: 15px;
  padding-left: 25px; }

@media (max-width: 991px) {
  #page-header .round1 {
    width: 90px; } }
#filtersubmit {
  position: relative;
  z-index: 1;
  left: 10px;
  top: 1px;
  color: black;
  cursor: pointer;
  width: 0; }

@media (max-width: 767px) {
  #page-header {
    height: 200px;
    width: 100%; }
    #page-header #text {
      padding-top: 5px; }
      #page-header #text h1 {
        font-size: 35px;
        margin-top: 0px; } }
@media (min-width: 991px) {
  .search-bar {
    padding-top: 8px; } }
@media (max-width: 991px) {
  #page-header {
    height: 300px;
    width: 100%; }
    #page-header #text {
      padding-top: 5px; }
      #page-header #text h1 {
        padding-top: 50px;
        font-size: 35px;
        margin-top: 0px; }
      #page-header #text .line {
        margin-bottom: 0px; }
    #page-header .format-nav a {
      font-size: 20px;
      color: white;
      text-decoration: none; }

  .navbar-sm {
    padding-bottom: 0px;
    margin-bottom: 10px; } }
/*sm search bar*/
input.search-query {
  /* padding-left:40px;*/
  border-radius: 15px;
  border: none;
  width: 180px;
  padding-left: 25px; }

@media (min-width: 1850px) {
  input.search-query {
    width: 300px; } }
@media (min-width: 1480px) {
  input.search-query {
    width: 210px; } }
@media (min-width: 1630px) {
  input.search-query {
    width: 250px; } }
@media (max-width: 979px) {
  input.search-query {
    width: 150px; } }
form.form-search {
  position: relative; }

form.form-search:after {
  content: '';
  display: block;
  width: 14px;
  height: 14px;
  background-image: url(http://getbootstrap.com/2.3.2/assets/img/glyphicons-halflings.png);
  background-position: -48px 0;
  position: absolute;
  top: 5px;
  left: 10px;
  z-index: 1000; }

.main-page, .contact-us {
  padding: 60px 30px; }

/*heading CSS*/
.heading h1 {
  font-size: 30px;
  font-family: calibri;
  padding-bottom: 30px;
  text-transform: capitalize; }
.heading h6 {
  font-size: 16px;
  text-transform: capitalize;
  margin-top: 0px; }
.heading p {
  font-size: 14px;
  text-transform: none; }
.heading .row {
  padding-bottom: 20px; }
  .heading .row a {
    color: black;
    text-decoration: none;
    font-size: 14px;
    font-family: calibri;
    text-transform: uppercase; }
  .heading .row a:hover {
    color: #FFA500; }
.heading .sec-col {
  padding-left: 50px; }
  .heading .sec-col .row {
    margin-left: 0px; }
@media (max-width: 991px) {
  .heading .row {
    padding-bottom: 20px; }
  .heading .sec-col {
    padding-left: 17px; } }
.heading .img-width {
  width: 100%; }
@media (max-width: 767px) {
  .heading .sec-col {
    padding-bottom: 20px;
    padding-left: 30px; }
  .heading .first-col {
    padding-left: 30px; } }
@media (min-width: 992px) {
  .heading .col-md-border:not(:last-child) {
    border-right: 1px solid #f4f4f4; }
  .heading .col-md-border + .col-md-border {
    border-left: 1px solid #f4f4f4;
    margin-left: -1px; } }
.heading .box {
  background-color: #FFA500;
  height: 55px;
  width: 55px;
  color: white;
  padding: 6px; }
  .heading .box h4 {
    font-size: 14px;
    line-height: 6px;
    text-align: center; }
  .heading .box h5 {
    font-size: 14px;
    line-height: 7px;
    text-align: center;
    padding-left: 6px; }
.heading h3 {
  font-size: 14px;
  font-weight: lighter;
  padding-right: 20px;
  margin-top: 0px; }
.heading h2 {
  font-size: 14px;
  font-weight: lighter; }
.heading .date-xs {
  background-color: #FFA500;
  width: 50px;
  padding: 3px;
  margin-top: 10px; }
@media (max-width: 1200px) {
  .heading h2 {
    padding-left: 20px; } }
@media (max-width: 767px) {
  .heading h2 {
    padding-left: 0px;
    margin-top: 0px; } }

.main-para {
  margin-right: 20px; }
  .main-para img {
    float: left;
    width: 300px;
    padding-bottom: 30px;
    padding-right: 30px; }
  .main-para a {
    color: #FFA500; }

@media (max-width: 767px) {
  .main-para img {
    width: 100%;
    padding-right: 10px; } }
.img-format {
  width: 100%; }

.pager li > a, .pager li > span {
  display: inline-block;
  padding: 12px 16px;
  background-color: #FFA500;
  border: none;
  border-radius: 0px;
  margin-left: 5px;
  color: white; }

.pager li > a:hover {
  color: grey; }

.pager {
  padding-left: 0;
  margin: 20px 0;
  text-align: center;
  list-style: none;
  float: left; }

.button {
  background-color: #FFA500;
  border: none;
  color: white;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer; }

/*ABOUT PAGE CSS*/
.about-page {
  padding: 60px; }
  .about-page .heading h1 {
    padding-left: 20px; }

/*Blog CSS*/
.blog {
  padding: 60px 30px 0px 30px; }
  .blog img {
    float: left;
    width: 500px;
    padding-bottom: 30px;
    padding-right: 30px; }

/*------footer CSS------*/
.footer-main {
  margin-top: 60px;
  margin-bottom: 0px;
  background-color: #333333;
  padding-top: 60px;
  color: white; }
  .footer-main .container {
    padding-bottom: 30px;
    text-align: center; }
    .footer-main .container img {
      width: 42px;
      height: 42px; }
  .footer-main .privacy {
    padding-top: 30px; }
    .footer-main .privacy p {
      font-size: 12px;
      font-weight: 900; }

.temp .clear {
  clear: both; }
.temp .page-wrap {
  width: 980px;
  margin: 0px auto;
  height: 100%; }
.temp #main-menu {
  height: 55px;
  width: 100%;
  padding: 0px;
  margin: 0px;
  border-bottom: 1px solid black; }
.temp ul {
  font-family: Arial, Verdana;
  font-size: 18px;
  margin: 0;
  padding: 0;
  list-style: none; }
.temp ul li {
  display: block;
  position: relative;
  float: left; }
.temp li ul {
  display: none; }
.temp ul li a {
  display: block;
  text-decoration: none;
  color: white;
  padding: 0 9px 0 9px;
  margin-left: 1px;
  white-space: nowrap;
  line-height: 55px;
  font: 18px;
  font-family: Arial, Helvetica, sans-serif;
  outline: none; }
.temp #menu a:hover:after {
  content: "";
  position: absolute;
  top: 40px;
  left: 50%;
  margin-left: -15px;
  width: 0px;
  height: 0px;
  xxmargin: 0px auto;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid white; }

/*# sourceMappingURL=style.css.map */
