$primary-color: #FFA500;
$footer-color:#333333;
@font-face {
    font-family: "javanese";
    src: url("/font/javatext.ttf");
}

/*test css*/
#page-header{
.navbar-sm{
        a:hover:after,a.active .triangle{
             
  content: "";
  position: absolute;
  top:105px;
  //left: 50%;
  margin-left: 30px;
  width: 0px;
  height :0px;
  //margin: 0px auto;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid white;
            
            
}
    }
    @media (max-width: 991px){
    .navbar-sm{
        a:hover:after,a.active .triangle{
            
            top:66px;
            border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid white;
            margin-left: 20px;
        }
    
    }
   
   
    }
    
   
}
  /*  div>a{
        height: 100px;
    
    
} div>a:hover:before, div>a:active{
    content:"";
    display:block;
    width:0px;
    border:10px solid white;
    border-color:  transparent  transparent white transparent;
    position:absolute;
    top:230%;
   left :50%;
    margin-left:-10px;
}
    
    
    
    
}*/





/*test css finish*/




body{
     font-family: Calibri; 
    text-transform: uppercase;
}

.pad-left-0{
    padding-left: 0px;
}
.pad-top-60{
    padding-top: 60px;
}
.pad-top-30{
    padding-top: 30px;
}

.pad-top-20{
    padding-top: 20px;
}

@media (max-width: 991px){
    .pad-top-sm-60{
        padding-top: 60px;
    }
    .pad-top-sm-30{
        padding-top: 30px;
    }
}

#page-header {
    height: 460px;
    background-image: url(../image/img1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    #text {
        padding-top: 60px;
        text-align: center;
        color: white;
        strong {
            font-weight: 300;
        }
        h1 {
            
            font-size: 90px;
            margin-bottom: 0px;
            font-family: javanese;
            
        }
        h2 {
            padding-top: 1px;
            margin-top: 0px;
            font-family: Calibri;
        }
        
    }
    .format-nav{
        a{
            color: white;
                margin-top: 0px;
            font-size: 30px;
            text-align: center;
            text-decoration: none;
             content:"";
    display:block;
    width:0px;
    //border:10px solid white;
    border-color:  transparent  transparent white transparent;
      position:absolute;
        
            
        }
        }
    .line {
        margin-top: 70px;
        margin-bottom:60px;
        
        opacity: 0.5;
    }
    /* for small device navbar css*/
    .navbar-toggle {
        float: left;
    }
    .navbar {
        background-color: transparent;
        background: transparent;
        border-color: transparent;
    }
    .navbar-default .navbar-toggle:hover {
        background-color: white;
    }
    .navbar-default .navbar-toggle {
        border-color: white;
       /* background-color: white;*/
    }
    .navbar-default .navbar-nav>.active>a,
    .navbar-nav>li>a {
        color: white;
        background-color: transparent;
        text-align: center;
    }
   
   .navbar-sm{
        text-align: center;
       .row{
           padding-left: 100px;
       }
       
  
    }
    
    
    
    
  /*  
     .navbar-sm div a:hover:after,.navbar-sm div :active{
         content:'';
display:block;
position:absolute;
top:62px; 
left:90px;
width:0;
height:0;
border-color: transparent transparent white transparent; 
border-style: solid;
border-width: 10px;


    }*/
    
    
    
    /*nav bar test*/
       
 .test{     
     
     /* Micro Clearfix */

     padding-left: 30px;
     
     .cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

nav {
  


ul {
  margin: 0;
  padding: 0;
  list-style: none;
    float: left;

left:20%;
list-style:none;
    
}

li {
 float: left;
    padding: 0px 60px;
    
}

li a {
  
  display: block;
  font-size: 30px;
    color: white;
    text-decoration: none;
}
    @media (max-width: 991px){
        li a {
  
  
            font-size: 20px;}
        li {

    padding: 0px 30px;
    
}
    }
    
    
/*
li:first-child a {
  
}

li a:after {
  content: '';
  display: none;
  width: 0;
  height: 0;
  border-bottom: 10px solid white;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
  margin-left: -6px;
      margin-top:12px;
}

li:hover a {
  
  color: white;
  position: relative;
}

li:hover a:after {
  display: block;
}*/
}
       }
       
       
       
       
       /*nav bar test finish*/
        
     
    
    
    
}
 .round {
        border-radius: 15px;
        border: 1px white solid;
        /* padding: 5px 5px 5px 25px; */
        margin-top: 15px;
     padding-left: 25px;
    }

@media (max-width: 991px) {
    #page-header .round1 {
        width: 90px;
        
    }
}

    #filtersubmit {
        position: relative;
        z-index: 1;
        left: 10px;
        top: 1px;
        color: black;
        cursor: pointer;
        width: 0;
    }



@media (max-width: 767px) {
    #page-header {
        height: 200px;
        width: 100%;
        #text {
            padding-top: 5px;
            h1 {
                font-size: 35px;
                margin-top: 0px;
            }
        }
    
}
}

@media (min-width: 991px){
 .search-bar{
     
     padding-top: 8px;
     
     
    }}


@media (max-width: 991px) {
    #page-header {
        height: 300px;
        width: 100%;
        #text {
            padding-top: 5px;
            h1 {
                padding-top: 50px;
                font-size: 35px;
                margin-top: 0px;
            }
            .line{
                margin-bottom: 0px;
            }
        }
    
    
        .format-nav{
            a{
            font-size: 20px;
                color: white;
                text-decoration: none;
            }
           
        }
    }
    .navbar-sm{
        
        padding-bottom: 0px;
        margin-bottom: 10px;
    }
}


/*sm search bar*/


input.search-query {
    /* padding-left:40px;*/
    border-radius: 15px;
        border: none;
    width: 180px;
    padding-left: 25px;
}

@media (min-width: 1850px){
    
    input.search-query {
    
    width: 300px;
     }
}


 @media (min-width: 1480px){
    
    input.search-query {
    
    width: 210px;
     }
}

@media (min-width: 1630px){
    
    input.search-query {
    
    width: 250px;
     }
}

@media (max-width: 979px){
    
    input.search-query {
    
    width: 150px;
     }
}

form.form-search {
    position: relative;
}

form.form-search:after {
    content:'';
    display: block;
    width: 14px;
    height: 14px;
    background-image: url(http://getbootstrap.com/2.3.2/assets/img/glyphicons-halflings.png);
    background-position: -48px 0;
    position: absolute;
    top:5px;
    left:10px;
    
    z-index: 1000;
   
    
}



    
.main-page,.contact-us{
    padding: 60px 30px;
}


/*heading CSS*/



.heading{
    
    h1{
        font-size: 30px;
        font-family: calibri;
        padding-bottom: 30px;
        text-transform: capitalize;
    }
    
    h6{
        font-size: 16px;
        text-transform: capitalize;
        margin-top: 0px;
        
        
    }
    p{
        font-size: 14px;
        text-transform:none;
    }
    .row {
        padding-bottom: 20px;
       
        a{
            color: black;
        text-decoration: none;
        font-size: 14px;
        font-family: calibri;
            text-transform: uppercase;
            }
        a:hover{
            color:$primary-color;
        }
        
    }
    .sec-col{
        padding-left: 50px;
        .row{
            margin-left: 0px;
        }
    }
    @media (max-width: 991px){
        
        .row {
        padding-bottom: 20px;
            }
        .sec-col{
            padding-left: 17px;}
    }
    .img-width{
        width: 100%;
    }
    
     @media (max-width: 767px){
        
        .sec-col {
        padding-bottom: 20px;
            padding-left: 30px;}
         .first-col{
             padding-left: 30px;
         }
        
    }
    
    
    
    @media (min-width: 992px) {
    .col-md-border:not(:last-child) {
        border-right: 1px solid #f4f4f4;
    }
    .col-md-border + .col-md-border {
        border-left: 1px solid #f4f4f4;
        margin-left: -1px;
    }
}
    
    
   
    
  .box{
      background-color: $primary-color;
    
    height: 55px;
    width: 55px;
    color: white;
    padding: 6px;
    
      h4{
          font-size: 14px;
    line-height: 6px;
    text-align: center;
           
      }
      h5{
          font-size: 14px;
    line-height: 7px;
    text-align: center;
    padding-left: 6px;
           
      }
      
    }
    
    
    
    h3{
          font-size: 14px;
        font-weight: lighter;
        padding-right: 20px;
        margin-top: 0px;
      }
    h2{
          font-size: 14px;
        font-weight: lighter;
       
      }
    .date-xs{
        background-color: $primary-color;
        width: 50px;
        padding: 3px;
        margin-top: 10px;
    }
    @media (max-width: 1200px){
        h2{
          
        padding-left: 20px;
       
      }
            
    }
    @media (max-width: 767px){
        h2{
          
        padding-left: 0px;
           margin-top: 0px;
       
      }
            
    }
    
    
    
    
    
    .pic-row{
    }
    
     
    
    
}

.main-para{
    margin-right: 20px;
    img{
        
        float: left; 
        width: 300px;
        padding-bottom:30px;
        padding-right:30px;
    
    }
    a{
        color:$primary-color;
    }
}
@media (max-width: 767px){
.main-para{
    img{
        width: 100%;
         padding-right:10px;
        
    }
}
}
.img-format{
    width:100%;
}


.pager li>a, .pager li>span {
    display: inline-block;
    padding: 12px 16px;
    background-color: $primary-color;
    border: none;
 border-radius: 0px; 
    margin-left: 5px;
    color: white;
}
.pager li>a:hover{
    color: grey;
}

.pager {
    padding-left: 0;
    margin: 20px 0;
    text-align: center;
    list-style: none;
    float: left;
   
    
}
.button {
    background-color: $primary-color;
    border: none;
    color: white;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}




/*ABOUT PAGE CSS*/

.about-page{
    padding:60px;
    
    .heading{
        h1{
            
            padding-left: 20px;
        }
        
    }
}


/*Blog CSS*/

.blog{
    padding: 60px 30px 0px 30px;
    
    img{
        float: left;
    width: 500px;
    padding-bottom: 30px;
    padding-right: 30px;
    }
    
    
    
    
}



/*------footer CSS------*/

.footer-main {
    margin-top: 60px;
    margin-bottom: 0px;
    background-color: $footer-color;
    padding-top: 60px;
    color: white;
    .container {
        padding-bottom: 30px;
        text-align: center;
        img{
            width: 42px;
            height: 42px;
        }
    }
    .privacy {
        padding-top: 30px;
        p {
            font-size: 12px;
            font-weight: 900;
        }
    }
}

.temp{
   
.clear {
  clear: both;
}
.page-wrap {
  width: 980px;
  margin: 0px auto;
  height: 100%;
}
#main-menu {
  //background: white;
  height: 55px;
  width: 100%;
  padding: 0px;
  margin: 0px;
  border-bottom: 1px solid black;
}
ul {
  font-family: Arial, Verdana;
  font-size: 18px;
  margin: 0;
  padding: 0;
  list-style: none;
}
ul li {
  display: block;
  position: relative;
  float: left;
}
li ul {
  display: none;
}
ul li a {
  display: block;
  text-decoration: none;
  color: white;
  padding: 0 9px 0 9px;
  //background: white;
  margin-left: 1px;
  white-space: nowrap;
  line-height: 55px;
  font: 18px;
  font-family: Arial, Helvetica, sans-serif;
  outline: none;
}
ul li a:hover {
  //color: black;
}
#menu a:hover:after {
  content: "";
  position: absolute;
  top: 40px;
  left: 50%;
  margin-left: -15px;
  width: 0px;
  height :0px;
  xxmargin: 0px auto;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid white;
}
    
  


}